<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.study">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.android.openGl.AudioDemoActivity"></activity>
        <activity android:name=".activity.android.openGl.OpenGlActivity" />
        <activity android:name=".activity.android.android_q.APPExternalActivity" />
        <activity android:name=".activity.android.CaughtExceptionActivity" />
        <activity android:name=".activity.java.PXSFActivity" />
        <activity android:name=".activity.java.SJSFActivity" />
        <activity
            android:name=".activity.android.html.HtmlActivity"
            android:label="与H5交互" />
        <activity
            android:name=".activity.android.ui.ViewStubActivity"
            android:label="ViewSub" />
        <activity
            android:name=".activity.android.custom_view.CustomViewGroupActivity"
            android:exported="true"
            android:label="CustomViewGroup" />
        <activity
            android:name=".activity.android.SpannableStringActivity"
            android:label="SpannableString" />
        <activity
            android:name=".activity.android.bitmap.CustomDrawableActivity"
            android:label="CustomDrawable" />
        <activity android:name=".activity.android.processkeeplive.OnePixelActivity" />
        <activity
            android:name=".activity.android.processkeeplive.KilledReliveActivity"
            android:label="杀死后重启" />
        <activity
            android:name=".activity.android.processkeeplive.AvoidKilledActivity"
            android:label="防止被杀死" />
        <activity
            android:name=".activity.android.KeepProcessAliveActivity"
            android:label="进程保活" />
        <activity
            android:name=".activity.android.RetrofitActivity"
            android:label="Retrofit" />
        <activity
            android:name=".activity.android.jetpack.RoomActivity"
            android:label="Room" />
        <activity
            android:name=".activity.android.jetpack.PagingActivity"
            android:label="Paging" />
        <activity
            android:name=".activity.android.jetpack.ViewModelActivity"
            android:label="ViewModel" />
        <activity
            android:name=".activity.android.jetpack.DataBindingActivity"
            android:label="DataBanding" />
        <activity
            android:name=".activity.android.jetpack.LiveDataActivity"
            android:label="LiveData" />
        <activity
            android:name=".activity.android.filemanager.FileManagerActivity"
            android:label="FileManager" />
        <activity
            android:name=".activity.android.jetpack.LifecycleActivity"
            android:label="Lifecycle" />
        <activity
            android:name=".activity.android.JetPackActivity"
            android:label="JetPack" />
        <activity
            android:name=".activity.android.custom_view.CustomViewActivity"
            android:label="CustomView" />
        <activity
            android:name=".activity.android.custom_view.ViewTouchActivity"
            android:label="ViewTouch" />
        <activity
            android:name=".activity.android.ViewStudyActivity"
            android:label="ViewStudy" />
        <activity
            android:name=".activity.android.android_q.AppSpecificActivity"
            android:label="AppSpecific" />
        <activity
            android:name=".activity.android.AndroidForQActivity"
            android:label="AndroidForQ" />
        <activity
            android:name=".activity.android.bitmap.LargeBitmapActivity"
            android:label="BitmapRegionDecoder" />
        <activity
            android:name=".activity.android.BitmapActivity"
            android:label="Bitmap" />
        <activity
            android:name=".activity.android.thread.IntentServiceActivity"
            android:label="IntentService" />
        <activity
            android:name=".activity.android.thread.HandlerThreadActivity"
            android:label="HandlerThread" />
        <activity
            android:name=".activity.android.thread.AsyncTaskActivity"
            android:label="AsyncTask" />
        <activity
            android:name=".activity.android.ThreadActivity"
            android:label="线程并发" />
        <activity
            android:name=".activity.android.zj.BroadcastActivity"
            android:label="广播接收器" />
        <activity
            android:name=".activity.android.zj.ContentProviderActivity"
            android:label="ContentProvider" />
        <activity
            android:name=".activity.android.zj.OtherProcessActivity"
            android:process="other.process.ac" />
        <activity
            android:name=".activity.android.zj.ServiceActivity"
            android:label="service启动方式" />
        <activity
            android:name=".activity.android.zj.StartModeActivity"
            android:label="启动模式" />
        <activity
            android:name=".activity.android.ZJActivity"
            android:label="四大组件"
            android:launchMode="singleTop" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:exported="true"
            android:process="test.service" />

        <activity
            android:name=".activity.android.zj.AIDLServiceActivity"
            android:label="AIDLServiceActivity" />

        <service
            android:name=".service.AIDLService"
            android:exported="true"
            android:process="test.aidl.service" />

        <provider
            android:name=".contentprovider.MyContentProvider"
            android:authorities="com.example.study.contentprovider"
            android:exported="true"
            android:process="com.cp" />

        <service android:name=".service.MyIntentService" />
    </application>

</manifest>